# created by virtualenv automatically
*.iml
.idea/
venv/
__pycache__/
*.pyc
*.pyo
# Ignore virtual environments
Lib/
Scripts/
pyvenv.cfg
# Ignore Jupyter
etc/
share/
# Ignore common OS & Python files
__pycache__/
*.pyc
.DS_Store
# Ignore prompt
prompt.txt
secrets.toml

